<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin page</title>
  </head>
  <body>
    <% let id1 = "C_language" %> <% let id2 = "DSA" %> <% let id3 =
    "Computer_organization" %> <% let id4 = "Webdev" %> <% let id5 = "OS" %> <%
    let id6 = "Networking" %> <% let id7 = "CloudComputing" %> <% let id8 =
    "MachineLearning" %> <% let id9 = "Bollywood" %> <% let id10 = "Hollywood"
    %> <% let id11 = "Tollywood" %> <% let id12= "India" %> <% let id13=
    "Europe" %> <% let id14= "USA" %>
    <form action="add/<%= id1 %>" method="get">
      <button type="submit">C language</button>
    </form>
    <form action="add/<%= id2 %>" method="get">
      <button type="submit">DSA</button>
    </form>
    <form action="add/<%= id3 %>" method="get">
      <button type="submit">Computer Organization</button>
    </form>
    <form action="add/<%= id4 %>" method="get">
      <button type="submit">Web development</button>
    </form>
    <form action="add/<%= id5 %>" method="get">
      <button type="submit">OS</button>
    </form>
    <form action="add/<%= id6 %>" method="get">
      <button type="submit">Networking</button>
    </form>
    <form action="add/<%= id7 %>" method="get">
      <button type="submit">Cloud Computing</button>
    </form>
    <form action="add/<%= id8 %>" method="get">
      <button type="submit">Machine Learning</button>
    </form>
    <form action="add/<%= id9 %>" method="get">
      <button type="submit">Bollywood</button>
    </form>
    <form action="add/<%= id10 %>" method="get">
      <button type="submit">Hollywood</button>
    </form>
    <form action="add/<%= id11 %>" method="get">
      <button type="submit">Tollywood</button>
    </form>
    <form action="add/<%= id12 %>" method="get">
      <button type="submit">India</button>
    </form>
    <form action="add/<%= id13 %>" method="get">
      <button type="submit">Europe</button>
    </form>
    <form action="add/<%= id14 %>" method="get">
      <button type="submit">USA</button>
    </form>
  </body>
</html>
