<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/header.css" />
  </head>
  <body>
    <% let id1="DSA" %> <% let id2="ComputerOrganization" %> <% let
    id3="ProgrammingUsingC" %> <% let id4 = "Webdev" %> <% let id5 = "OS" %>
    <%let id6 = "Networking" %> <% let id7 = "CloudComputing" %> <% let id8
    ="MachineLearning" %> <% let id9 = "Bollywood" %> <% let id10 =
    "Hollywood"%> <% let id11 = "Tollywood" %> <% let id12= "India" %> <% let
    id13="Europe" %> <% let id14= "USA" %>

    <!--Header of the webpage-->

    <div class="header row">
      <div class="logo col-1">
        <img src="/images/quiz.png" alt="logo" />
        <div class="logo-2ndpart">Quizify</div>
      </div>
      <div class="nav-bar albert-sans">
        <a href="/">Home</a>
        <a href="#trending-quiz">Trending</a>
        <a href="#">Categories</a>
        <a href="#">Information</a>
      </div>
      <div class="login-join col-3">
        <form action="/" method="GET">
          <button class="logout-btn">Log Out</button>
        </form>
      </div>
      <div class="menu-bar col-1">
        <img
          src="/images/menu.png"
          alt=""
          class="dropbtn"
          onclick="toggleDropdown()"
        />
      </div>
      <div class="dropdown-content" id="dropdownContent">
        <div class="subContent albert-sans">
          <div class="menuOption"><a href="/">Log Out </a></div>
          <div class="menuOption"><a href="#trending-quiz">Trending</a></div>
          <div class="menuOption"><a href="#">Information</a></div>
          <div class="menuOption"><a href="#">Help</a></div>
        </div>
      </div>
    </div>

    <!--home of The webpage-->
    <br /><br /><br />
    <div class="container mb-2" id="home">
      <p><span>Home</span>/Quiz</p>
      <h2>Latest Quizzes</h2>

      <!--cards belong to latest Quiz-->
      <div class="cards row">
        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Data Structure</h3>
            <img src="/images/dsa-image.png" alt="image" />
            <div class="card-body">
              <p>
                Data structures and algorithms is the backbone of computer
                science, it help us solve problems.
              </p>
              <form action="/auth/question/<%= id1 %>" method="GET">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Computer Organization</h3>
            <img src="/images/co.webp" alt="image" />
            <div class="card-body">
              <p>
                CO deal with optimize performance and drive the seamless
                execution of complex tasks.
              </p>
              <form action="/auth/question/<%= id2 %>" method="GET">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Programming using C</h3>
            <img src="/images/c.webp" alt="image" />
            <div class="card-body">
              <p>
                Programming in C reveals the core of coding, enabling developers
                to create efficient, robust software.
              </p>
              <form action="/auth/question/<%= id3 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Baics of Web development</h3>
            <img src="/images/Web development.jpg" alt="image" />
            <div class="card-body">
              <p>
                The basics of web development open the gateway to creating
                interactive and dynamic websites, blending design and
                functionality to enhance user experiences online.
              </p>
              <form action="/auth/question/<%= id4 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Operating System</h3>
            <img src="/images/operating-sytem.jpg" alt="image" />
            <div class="card-body">
              <p>
                Operating systems are the crucial interface between hardware and
                software and enabling seamless execution of applications.
              </p>
              <form action="/auth/question/<%= id5 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Computer Networking</h3>
            <img src="/images/computer network.jpg" alt="image" />
            <div class="card-body">
              <p>
                Computer networking connects devices and systems, enabling
                seamless communication and data exchange across vast distances.
              </p>
              <form action="/auth/question/<%= id6 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Cloud computing</h3>
            <img src="/images/cloud computing.webp" alt="image" />
            <div class="card-body">
              <p>
                Cloud computing streamlines data storage and processing,
                offering flexible, on-demand access to virtual resources over
                the internet.
              </p>
              <form action="/auth/question/<%= id7 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 mb-4">
          <div class="card">
            <h3>Machine learning</h3>
            <img src="/images/machine learning.jpg" alt="image" />
            <div class="card-body">
              <p>
                Machine learning empowers systems to learn and enabling
                automated decision-making and solve advance problems.
              </p>
              <form action="/auth/question/<%= id8 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Cards belong to trending quizzes-->

    <div class="container mb-2" id="trending-quiz">
      <p><span>Trending</span>/Quiz</p>
      <h2>Trending Quizzes</h2>
      <div class="cards row">
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Data Structure & Algorithm</h3>
            <img src="/images/dsa-image.png" alt="image" />
            <div class="card-body">
              <p>
                Data structures and algorithms is the backbone of computer
                science, it help us solve problems.
              </p>
              <form action="/auth/question/<%= id1 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Programming using C</h3>
            <img src="/images/c.webp" alt="image" />
            <div class="card-body">
              <p>
                Programming in C reveals the core of coding, enabling developers
                to create efficient, robust software.
              </p>
              <form action="/auth/question/<%= id3 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Bollywood in 2023</h3>
            <img src="/images/bollywood.webp" alt="image" />
            <div class="card-body">
              <p>
                We all are interested about bollywood movies and there are few
                interesting question about those movies.
              </p>
              <form action="/auth/question/<%= id9 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--cards belong to entertainment-->

    <div class="container mb-2" id="Entertainment-quiz">
      <p><span>Entertainment</span>/Quiz</p>
      <h2>Entertainment Quizzes</h2>
      <div class="cards row">
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Bollywood in 2023</h3>
            <img src="/images/bollywood.webp" alt="image" />
            <div class="card-body">
              <p>
                We all are interested about bollywood movies and there are few
                interesting question about those movies.
              </p>
              <form action="/auth/question/<%= id9 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Best of hollywood in 2023</h3>
            <img src="/images/International movies.jpg" alt="image" />
            <div class="card-body">
              <p>
                Many of us are big fan of the hollywood movies, so here are few
                questions about the hollywood movies.
              </p>
              <form action="/auth/question/<%= id10 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>South-indian movies in 2023</h3>
            <img src="/images/south indian.jpg" alt="image" />
            <div class="card-body">
              <p>
                When we talk about entertainment with the emotion then south
                indian movies come in our mind. Answer few question from year
                2023.
              </p>
              <form action="/auth/question/<%= id11 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Cards belong to world travel quizzes-->

    <div class="container mb-2" id="world-travel-quiz">
      <p><span>Travel</span>/Quiz</p>
      <h2>World Travel Quizzes</h2>
      <div class="cards row">
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Our beautiful India</h3>
            <img src="/images/India.jpg" alt="image" />
            <div class="card-body">
              <p>
                Travelling through India is a mesmerizing journey of vibrant
                cultures, breathtaking landscapes, and timeless history.
              </p>
              <form action="/auth/question/<%= id12 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Pleasant Europe</h3>
            <img src="/images/europe.avif" alt="image" />
            <div class="card-body">
              <p>
                The charm of Europe lies in its fascinating blend of history,
                culture, and stunning scenery.
              </p>
              <form action="/auth/question/<%= id13 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="card">
            <h3>Modern world in USA</h3>
            <img src="/images/usa.jpg" alt="image" />
            <div class="card-body">
              <p>
                USA mesmerize with its dynamic culture offering unforgettable
                experiences for every visitor.
              </p>
              <form action="/auth/question/<%= id14 %>" method="get">
                <button type="submit" class="btn btn-light">Play</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="powered-by">
        <span class="made-by">&copy; Made by </span>
        <span class="name">Team SparK</span>
      </div>
      <button id="scrollToTopBtn">
        <i class="fa-solid fa-arrow-up"></i>
      </button>
    </div>
    <!--Footer-->
    <footer class="poppins-extralight">
      <div class="copyright item">
        <div class="footer-logo">
          <img src="./images/quiz.png" alt="logo" />
          <h3 class="footer-logo-2ndpart">Quizify</h3>
        </div>
        <div class="footer-msg">Engage your friends with exciting quizes!</div>
        <div class="copyright">Copyright &copy; 2024 - All rights reserved</div>
      </div>

      <div class="Links item">
        <h4>Links</h4>
        <a href="#" class="link">Give your suggestions</a>
        <a href="#" class="link">Know about Us</a>
        <a href="#" class="link">Information</a>
      </div>
      <!-- <div class="contact-us item">
          <h4>Contact Us</h4>
          <a href="#" class="link">jayasmitao1@gmail.com</a>
          <a href="#" class="link">koushaki231@gmail.com</a>
        </div> -->
    </footer>

    <script src="/js/afterLogin.js"></script>
  </body>
</html>
